<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>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</string>
</dict>
</plist>
